@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (Model != null)
{
    <h4>@Model.Name</h4>
    <p>Genre: @Model.Genre.Name</p>
    <p>Release Date: @Model.ReleaseDate.ToShortDateString()</p>
    <p>Date Added: @Model.DateAdded.ToShortDateString()</p>
    <p>Number In Stock: @Model.NumberInStock</p>
}
