@model Vidly.Models.MovieViewModel
@{
    /**/

    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.Name)
        @Html.TextBoxFor(x => x.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.NumberInStock)
        @Html.TextBoxFor(x => x.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.DateAdded)
        @Html.TextBoxFor(x => x.Movie.DateAdded, "{0:yyyy/MM/dd}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.ReleaseDate)
        @Html.TextBoxFor(x => x.Movie.ReleaseDate, "{0:yyyy/MM/dd}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.GenreId)
        @Html.DropDownListFor(x => x.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "--Select a Genre--", new { @class = "form-control" })
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Movie.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
